<h1>Welcome to your first Writer's Conference!</h1>
<p>(Find me in app/views/diagnostics/new.html.erb)</p>

	<br><b><span class="first">Directions: To help us determine your unique writing style, select the answer that best matches your voice.</span></b><br><br> 


<%= form_for @diagnostic do |f| %>

<h3> 1) Which thesis statement do you like the best?</h3>
<div>
<%= f.radio_button :answer1, 1 %> A) Fantasy football is a way for fans to create their own teams. </br>
<%= f.radio_button :answer1, 2 %> B) Fans create their own fantasy football teams because they want to make their own teams of players. </br>
<%= f.radio_button :answer1, 3 %> C) Although fantasy football is a growing trend, many believe that the practice obscures the power of great coaching. </br>
<%= f.radio_button :answer1, 4 %> D) Even though fantasy football is a popular pastime, its popularity will only continue to increase because fans enjoy the opportunity to create their own unique teams.</div></br>

<h3> 2) Which thesis statement has the fewest grammatical mistakes?</h3>
<%= f.radio_button :answer2, 1 %> A)  A scientist that is smart can focus their attention on exploring Mars. </br>
<%= f.radio_button :answer2, 2 %> B)  Lots of reasons to explore outer space exists, because the possible discovery of aliens mean that we are not alone in the universe. </br>
<%= f.radio_button :answer2, 3 %> C) Looking back on the study of the solar system, Mars will have been the best choice for exploration, as scientists rightfully had recognized. </br>
<%= f.radio_button :answer2, 4 %> D) Although the findings so far are scarce, the prospects of life on Mars should encourage scientists to explore further, because we can ultimately learn more about life on Earth. </br>

<h3> 3) Which thesis statement has the best use of vocabulary? </h3>
<%= f.radio_button :answer3, 1 %> A) Three Dimensional printers are great because they can help people make new things </br>
<%= f.radio_button :answer3, 2 %> B) Dynamic inventors use three dimensional printing as a way to make advances in medical science. </br>
<%= f.radio_button :answer3, 3 %> C) Dynamic inventors are likely to employ three dimensional printers that are revolutionary and are among the vanguard.</br>
<%= f.radio_button :answer3, 4 %>  D) Even though they seem unduly expensive, three dimensional printers represent the next phase of home technology, because the inventions combine ingenuity with practicality.</br>

<h3> 4) Which thesis statement makes a logical argument?</h3>
<%= f.radio_button :answer4, 1 %> A) Video games are important to help students learn. </br>
<%= f.radio_button :answer4, 2 %>  B) Many people think video games help with problem solving, because this idea is more and more popular every year. </br>
<%= f.radio_button :answer4, 3 %>  C) Supposing video games incorporate puzzles or action, they can collaborate with students in making decisions in the course of play by obliging them to use their minds. </br>
<%= f.radio_button :answer4, 4 %> D) Despite the common belief that video games are a waste of time, role player games can aid in learning, because they invite users to  solve puzzles and to design creative solutions.  </br>
<br>
<br>
<%= f.submit "Submit" %>

<% end %>

